body {
  background-color: #E9E7E6;
  font-family: Tahoma;
  color: #2E2926;
}

p {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 22px;
}

h1 {
  margin: 15px;
  font-size: 36px;
  letter-spacing: 0.05em;
  min-width: 21%;
  max-width: 21%;
}

h2 {
  margin: 5% 0 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  margin-top: 5%;
  font-size: 16pt;
  background: #fbd263;
  border-style: hidden;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px 12px 10px;
  width: 200px;
}

.btn:hover {
  background: #B2ADAA;
  color: #fff;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container div {
  display: flex;
  flex-wrap: wrap;
}

.recipe-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  background-color: #B1D8D0;
  margin: 10px;
  padding: 25px;
}

.recipe-box img {
  width: 100%;
}

@media (max-width: 896px) {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  h1 {
    margin: 15px 0 0 0;
    font-size: 36px;
    letter-spacing: 0.05em;
    min-width: 100%;
    text-align: center;
  }

  .recipe-box {
    background-color: #B1D8D0;
    margin: 10px;
    padding: 25px;
  }
}

.recipe-details {
  background-color: #B1D8D0;
  margin: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipe-details div {
  display: flex;
}

.recipe-details-description p {
  margin: 0 0 20px 0;
}

.recipe-details h2 {
  font-size: 36px;
  margin: 0 0 5% 0;
  text-align: left;
}

.recipe-details img {
  min-width: 400px;
  width: 50%;
  height: 100%;
  flex: 1;
  margin-right: 30px;
}

.recipe-not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.recipe-details-description {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tag {
  background-color: white;
  padding: 3px;
}

@media (max-width: 1180px) {
  .recipe-details-description p {
    margin: 20px 0 0 0;
  }

  .recipe-details img {
    margin-right: 0;
    min-width: 100%;
  }

  .recipe-details div {
    flex-direction: column;
  }
}
