<div class="recipes-list">
  <% @recipes.each do |recipe| %>
    <div class="recipe-box">
      <img alt="<%=recipe.title%> photo" class="recipe-photo" src="<%=recipe.image_url%>" />
      <h2><%=recipe.title%></h2>
      <a class="btn" href="/recipes/<%= recipe.id %>">recipe details</a>
    </div>
  <% end %>
</div>
