<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='UTF-8' />
    <title>Marley Spoon Recipes</title>

    <link rel="stylesheet" href="/recipes.css">
  </head>
  <body class='container'>
    <h1>Marley Spoon - Web Challenge</h1>
    <br />
    <%= yield %>
  </body>
</html>
