<div class="recipe-details">
  <h2><%=@recipe.title%></h2>
  <div>
    <img alt="recipe photo" src="<%=@recipe.image_url%>" />
    <div class="recipe-details-description">
      <p><%=@recipe.description%></p>

      <% if @recipe.chef_name != '' %>
        <p>CHEF: <%=@recipe.chef_name%></p>
      <% end %>

      <p>
        <% @recipe.tags.each do |tag| %>
          <span class="tag"><%=tag%></span>
        <% end %>
      </p>

      <a class="btn" href="/recipes">see all recipes</a>
    </div>
  </div>
</div>
